<div class="note">
  <h3>Site Layouts</h3>
  <p>
    Site Layouts control the overall theme of your website. It is a template that encapsulates page content.
  </p>
  <p>Use the following tag to insert the page content:</p>
  <pre>{{ page_content }}</pre>
</div>