<div class="note">
  <h3>Site Snippets</h3>
  <p>
    Site Snippets are blocks of text and/or html that can be inserted into multiple layouts and pages.
  </p>
  <p>
    To insert a snippet in a layout or page just include the following in the object's content:
  </p>
  <pre>{{ '&lt;name&gt;' | snippet }}</pre>
  <p>
    Where &lt;name&gt; is the exact name of the snippet.
  </p>
  <p>
    NOTE: Snippets can not be referenced within snippets.
  </p>
</div>
