development:
  adapter: mysql
  database: bionic_cms_development
  username: root
  password: 
  host: localhost

staging:
  adapter: mysql
  database: bionic_cms_staging
  username: root
  password: 
  host: localhost

production:
  adapter: mysql
  database: bionic_cms_development
  username: root
  password: 
  host: localhost
