<tr class="layout_row list_row">
  <% render_region :custom_list_headers, :locals => { :notifier_name => notifier_name } do |custom_list_headers| %>
    <% custom_list_headers.custom_notifier_column_header do %>
      <td class="name"><%= notifier_name.to_readable %></td>
    <% end %>
    <% custom_list_headers.custom_actions_column_header do %>
      <td>
        <%= link_to "Create Email", new_admin_site_email_path(:notifier_name => notifier_name) %>
      </td>
    <% end %>
  <% end %>
</tr>
