<% render_region :right_side do |right_side| %>
  <% right_side.search do %>
    <% form_tag admin_profiles_path, {:method => 'get', :id => 'admin_search_form', :autocomplete => 'off'} do %>
      <%= text_field_tag :search, params[:search] %><%= submit_tag 'Go', :disable_with => "Searching..." %>
    <% end %>
  <% end %>
  <% right_side.user_group_search do %>
    <h3>Find by User Group</h3>
    <p>
      <% UserGroup.all_for_current_site.each do |user_group| %>
      <%= link_to user_group.name, admin_profiles_path + "/?search=user_group:#{u(user_group.name)}" %><br />
      <% end %>
    </p>
  <% end %>
<% end %>