<div id="history">
  <h3>Profile History</h3>
  <% if @histories.empty? %>
  <p>No history...</p>
  <% else %>
  <table cellspacing="0">
    <% previous_date = nil %>
    <% @histories.each do |history| %>
    <% if previous_date != history.created_at_long_date %>
    <tr class="log-date">
      <td colspan="2"><%= history.created_at_long_date %></td>
    </tr>
    <% end %>
    <tr class="log">
      <td class="log-time"><%= history.create_at_time %></td>
      <td>
        <%= "#{history.linked_type} #{history.linked_id}:" if history.linked.not_nil? %>
        <%= history.message %>
      </td>
    </tr>
    <% previous_date = history.created_at_long_date %>
    <% end %>
  </table>
  <p>Showing the 10 most recent entries.</p>
  <% end %>
</div>