<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>BionicCMS Default Front End</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag 'application' %>
</head>
<body class="front_end_body">
  <div class="body_container" id="body_container_id">
    <h1>BionicCMS Default Front End</h1>
    <div class="page_content" id="page_content_id">
      <%= display_standard_flashes %>
      <%= yield %>
    <div>
  </div>
</body>
</html>